# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.ios/
android/
build/
*.iml
*.ipr
*.iws
*.lock
*.tmp
*.log
.DS_Store
.gitattributes
packages/
bin/

# Android
*.jks
*.keystore
/android/key.properties
/android/gradle.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/App.framework
ios/Flutter/flutter_assets
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Release.xcconfig
ios/Flutter/App.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace
ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
ios/Runner.xcodeproj/xcshareddata/xcschemes
ios/Runner.xcodeproj/project.xcworkspace
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
ios/Runner/Assets.xcassets/
ios/Runner/Base.lproj/
ios/Runner/AppDelegate.*
ios/Runner/Runner-Bridging-Header.h
ios/Runner/Info.plist
ios/Runner/main.m
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig

# Temporary files
*.rbc
*.pbxuser
*.perspectivev3
*.swp
*.swo
*~
._*
.DS_Store
.PackageCache
.swiftpm
